<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="get" action ="display">
<table>
    <tr>
        <td>studentname:</td>
        <td><input type="text" name="txtstudentname"></td>
    </tr>
    <tr>
        <td>studentclass:</td>
        <td><input type="text" name="txtstudentclass"></td>
    </tr>
    <tr>
        <td>studentage:</td>
        <td><input type="number" name = "txtstudentage"></td>
    </tr>
    <tr>
        <td>studentplace:</td>
        <td><input type="text" name="txtstudetplace"></td>
    </tr>
    <tr>
        <td>blood group:</td>
        <td>
        <input type="radio" name="rdblood group" value="A+ve">A+ve
        <input type="radio" name="rdblood group" value="A-ve">A-ve
        <input type="radio" name="rdblood group" value="B+ve">B+ve
        <input type="radio" name="rdblood group" value="B-ve">B-ve</td>
    </tr>
    <tr>
        <td><input type="submit" value="SUBMIT"></td>
    </tr>

</table>
</form>
</body>
</html>