<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#43FBCA">
<form method="post" action="display">
    {% csrf_token %}

    <h1 style="background-color:slateblue;color:Mediumseagreen;padding:10px;text-align:center"><u>student score validation</u></h1>
    <table>
        <tr>
            <td><b style="background-color:yellow">Name:</b></td>
            <td><input type="text" name="txtname" value="{{Name}}"><br></td>
        </tr>
        <tr>
            <td><b style="background-color:yellow">PYTHON:</b></td>
            <td><input type="text" name="txtpython" value="{{n1}}"><br></td>
        </tr>
        <tr>
            <td><b style="background-color:yellow">JAVA:</b></td>
            <td><input type="text" name="txtjava" value="{{n2}}"><br></td>
        </tr>
        <tr>
            <td><b style="background-color:yellow">MYSQL:</b></td>
            <td><input type="text" name="txtmysql" value="{{n3}}"><br></td>
        </tr>
        <tr>
            <td><b style="background-color:yellow">HTML:</b></td>
            <td><input type="text" name="txthtml" value="{{n4}}"><br></td>
        </tr>
        <tr>
            <td><b style="background-color:yellow">DJANGO:</b></td>
            <td><input type="text" name="txtdjango" value="{{n5}}"><br></td>
        </tr>
    </table>
    <input type="submit" name="operations" value="TOTAL">
    <input type="submit" name="operations" value="PERCENTAGE">
    <input type="submit" name="operations" value="GRADE">
    <input type="submit" name="operations" value="STATUS"><br>
    <input type ="text" name="txtresult" value="{{res}}" style="background-color:dodgerblue:color:yellow">

</form>

</body>
</html>